/* Carousel container set to 100% width */
.carousel-container {
    width: 100%;  /* Makes the carousel take full width of its parent container */
    height: 100%;
    margin: 0 auto;  /* Center the carousel if there is extra space */
}
.carousel-inner img {
    width: 100%;  /* Ensures that the images fill the container */
    height: 400px;  /* Adjust the height of the carousel images */
    object-fit: cover;  /* Ensures images maintain their aspect ratio and fill the container */
}
*{
  padding: 0px;
  margin: 0px;
}
/* Sticky Navbar */
nav {
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
/* Styling for the blue row */
.blue-row {
    background-color: blue;
    color: white; /* Text color is set to white for contrast */
    padding: 20px 0; /* Adding some vertical padding */
}
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}
.card-img-top {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#more {display: none;}

 @keyframes scale-in-center {
    0% {
      transform: scale(0);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
@keyframes scale-out-center {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 1;
  }
}


  @keyframes zoomIn {
    0% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
    }
}

 @keyframes scale-in-ver-top {
  0% {
    transform: scaleY(0);
    transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    transform: scaleY(1);
    transform-origin: 100% 0%;
    opacity: 1;
  }
}


.zoom-in {
    animation: zoomIn 2s ease-in-out forwards;
}
.no-zoom {
  transform: scale(0.8); /* Mulai dari ukuran awal */
  transition: transform 0.3s ease; /* Tambahkan transisi untuk kehalusan */
}
.scale-in-ver-top {
	animation: scale-in-ver-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.scale-in-ver-reset {
  transform: scaleY(0);
  transform-origin: 100% 0%;
  opacity: 1;
  transition: transform 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}
.scale-in-center {
	animation: scale-in-center 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.scale-out-center {
	animation: scale-out-center 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
